 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practise of Node.js Foundamental Concepts</title>
 </head>
 <body>
    <h1>Hello My friend ,My Introduction is people known as me "Thanos"</h1>
 </body>
 </html>